.wallet {
  &__inner {
  }

  &__table {

    &--empty {
      table {
        thead {
          tr {
            position: relative;

            &::after {
              width: 100%;
              height: 1px;
              background: #747c90;
              bottom: 0;
              right: 0;
              left: 0;
              display: block;
              content: '';
              position: absolute;
            }
          }
        }
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          position: relative;

          th {
            padding-bottom: 10px;
            text-align: left;
            font-size: 12px;
            color: #747c90;

            &:first-child {
              width: 6.5%;
              padding-left: 25px;
            }

            &:nth-child(2) {
              width: 19.8%;
            }

            &:nth-child(3) {
              width: 31%;
            }

            &:nth-child(4) {
              width: 17%;
            }
          }
        }
      }

      tbody {
        tr {
          border-top: 1px solid #484f61;
          border-bottom: 1px solid #484f61;
         
          td {
            padding: 12px 0;
            font-size: 13px;
            &:first-child {
              padding-left: 25px;
            }

            &.blue {
              color: #1556ee;
            }

            &.bold {
              font-weight: 700;
              color: #fff;
            }
          }
        }
      }
    }

    &--checked {
      width: 17px;
      height: 17px;
      border: 2px solid #1556ee;
      border-radius: 2px;
    }

  }
}
